script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(type="text/javascript" src="scripts/grafica.js")
script(type="text/javascript" src="https://code.highcharts.com/highcharts.js")
script(type="text/javascript" src="https://code.highcharts.com/modules/exporting.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
include grafica.html
