script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(type="text/javascript" src="scripts/database.js")
script(type="text/javascript" src="scripts/file-wrapper.min.js")
script(type="text/javascript" src="scripts/line-navigator.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
include index.html
